body {
    margin: 0;
    padding: 0;
    background: rgb(7,0,98);
background: linear-gradient(90deg, rgba(7,0,98,1) 0%, rgba(6,6,190,1) 45%, rgba(11,168,249,1) 100%);
}

.cuerpo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.contenedor_gen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

.seccion {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin: 20px;
}

.imagen-contenedor {
    position: relative;
    max-width: 200px;
    max-height: 150px;
    margin: 20px;
}

.imagen {
    width: 250px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 10px;
}

#brayan {
    background: rgb(195,195,195);
background: radial-gradient(circle, rgba(195,195,195,1) 0%, rgba(119,119,119,1) 50%, rgba(46,46,46,1) 100%);
}


.superpuesto {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-10%, -50%);
    background-color: rgba(145, 143, 143, 0.7);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #010d1a;
    opacity: 0.8;
}

.nombre {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.boton {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:last-child {
    margin-bottom: 0;
}

.volver {
    border: none;
    border-radius: 10px;
    background-color: #010d1a;
    margin: 70px;
    padding: 20px;
}
