body {
    margin: 0;
    padding: 0;
    background-color: #4d8ff1;
}

.head {
    background-color: #007BFF;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 50px;
}

.config {
    background-color: #1a4fb3;
    margin: 20px;
    padding: 20px;
    color: rgb(206, 205, 205);
    border: 1.5px solid #1dec7a;
    border-radius: 50px;
    box-shadow: 0 0 20px rgb(118, 44, 238);
}

h2 {
    font-size: 30px;
    margin-top: 15px;
}

.ajuste {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

select {
    width: 100%;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

button:hover {
    background-color: #0056b3;
}