* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ 
    font-family: 'Noto Serif', serif;
    font-weight: 300;
    overflow-x: hidden;
    background-color: #302c9b;
}

body{
    margin: 10px 15px;
}
.lista_requisitos {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lista_requisitos h1 {
    font-size: 24px;
    color: #1e3a5e;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1e3a5e;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.docs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.subir {
    border: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #1e3a5e;
    cursor: pointer;
}

.apli {
    border: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #1e3a5e;
    cursor: pointer;
}