* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: whitesmoke;  
    font-family: 'Noto Serif', serif;
    font-weight: 300;
    overflow-x: hidden;
}

body{
    margin: 10px 15px;
}

.lista_vacantes {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.contenedor {
    display: flex;
    height: auto;
    align-items: center;
    border: 1px solid gray;
    padding: 5px;
    margin: 7px;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-color: gray;
}

.vacante {
    padding: 10px;
    margin: 10px;
    align-self: center;
    background-repeat: no-repeat;
    background-position: 10px;
    cursor: pointer;
}

a:link {
    color: transparent;
}

a:visited {
    color: transparent
}

a:hover {
    color: transparent;
}

a:active {
    color: transparent;
}

#eco {
    background-image: url(../img/vacantes/LogoEcopetrol.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#ban {
    background-image: url(../img/vacantes/bancolombialogo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#avi {
    background-image: url(../img/vacantes/aviancalogo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#exi {
    background-image: url(../img/vacantes/exitologo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#isa {
    max-width: 100px;
    max-height: 50px;
    background-image: url(../img/vacantes/isa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#nut {
    background-image: url(../img/vacantes/nutresalogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#arg {
    background-image: url(../img/vacantes/argoslogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#dav {
    background-image: url(../img/vacantes/DaviviendaLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#gav {
    background-image: url(../img/vacantes/gaval.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}